<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <link href="styles/form.css"  rel="stylesheet" />
</head>
<body>
<div class="list-of-blocks">
    <div class="info-block">
       <div class="info-block_name"> Your name:</div>
       <input  placeholder="Ivan" required/> <!-- name -->
    </div>
    <div class="info-block">
        <div class="info-block_name"> Your birthday:</div>
        <input  placeholder="01/01/2007" required/> <!-- birthday -->
    </div>
    <div class="info-block">
        <div class="info-block_name"> Your phone number:</div>
        <input   placeholder="8(800)555-35-35" required/> <!-- phone number -->
    </div>
    <div class="info-block">
        <div class="info-block_name"> Your e-mail:</div>
        <input   placeholder="example@gmail.com" required/> <!-- email -->
    </div>

</div>
</body>
</html>

<!--pattern="^[A-Za-z0-9].+@.+/.[a-z]+"
pattern="(1[0-2]|0[1-9])\/(1[5-9]|2\d)\/(19[0-9][0-9]|20[0-1][0-9])"
-->