<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Add</title>
    <h1>Add your contacts</h1>
    <link href="styles/form.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.12.0/validate.min.js"></script>
    <script src="scripts/functions.js"></script>
    <script src="scripts/main.js"></script>
</head>
<body>
<div class="link">
    <a href="/list.html">See list of peoples</a>
</div>

<form class="list-of-blocks" id="form">
    <div class="info-block">
       <input class="info-block_input" name="name" placeholder="name" th:required="required" /> <!-- name -->
    </div>
    <div class="info-block">
        <input class="info-block_input" name="birthday" placeholder="birthday" th:required="required" type="date" /> <!-- birthday -->
    </div>
    <div class="info-block">
        <input class="info-block_input" name="phone"  placeholder="phone number" th:required="required" /> <!-- phone number -->
    </div>
    <div class="info-block">
        <input class="info-block_input" name="email"  placeholder="e-mail" th:required="required" /> <!-- email -->
    </div>
    <div class="info-block">
        <button class="add-button" id="add-button" type="submit" th:disabled="disabled"> Enter </button>
    </div>
</form>
</body>
</html>

<!--pattern="^[A-Za-z0-9].+@.+/.[a-z]+"
pattern="(1[0-2]|0[1-9])\/(1[5-9]|2\d)\/(19[0-9][0-9]|20[0-1][0-9])"
-->