<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <h1>Peoples</h1>
    <link href="styles/list.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.12.0/validate.min.js"></script>
    <script src="scripts/bundle.js"></script>
</head>
<body>
<div class="list">
    <div class="list_elem">
        <input class="list_elem_input"/>
    </div>
    <div class="list_elem">
        <input input class="list_elem_input"/>
    </div>
    <div class="list_elem">
        <input input class="list_elem_input"/>
    </div>
    <div class="list_elem">
        <input input class="list_elem_input"/>
    </div>
    <div class="list_elem">
        <input class="button js-save-change-button" value="Save change" type="submit"/>
    </div>
    <div class="list_elem">
        <input class="button js-delete-button" value="Delete" type="reset"/>
    </div>
</div>
</body>
</html>