<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>Log in</title>
    <h1>Authorization</h1>
    <link href="styles/login.css" rel="stylesheet" />
    <script src="scripts/authorization.js"></script>
</head>
<body>
<!--<div th:if="${param.error}">
    Invalid username and password.
</div>-
<div th:if="${param.logout}">
    You have been logged out.
</div>-->
<form class="autorize_form" th:action="@{/login}" method="post">
    <div class="field">
        <input class="input_field" id="name" name="login" type="text"/>
    </div>
    <div class="field">
        <input class="input_field" id="password" name="password" type="password"/>
    </div>
    <div class="field">
        <input class="button" value="Log in" type="submit"/>
    </div>
</form>
</body>
</html>